{% extends "base.html" %}
{% block content %}
<!--Set up background, align content to center.-->
<div class="bg-image">
  <div class="container">
    <br/>
    <!-- Greeting -->
    <h2 class="text-center mb-4">Hello, {{ current_user.first_name }}👋</h2>
    
    <!-- History section -->
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">History</h5>
        <ul class="list-group">
          {% for code in current_user.code_history %}
            <a href="/fix_code?code_id={{ code.id }}" class="list-group-item list-group-item-action">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h6 class="mb-0">{{ code.title }}</h6>
                  <small class="text-muted">Created on {{ code.timestamp.strftime('%Y-%m-%d') }}</small>
                </div>
                <span class="badge badge-primary badge-pill">View</span>
              </div>
            </a>
          {% endfor %}
        </ul>
      </div>
    </div>

    
    <!-- Fix new code button -->
    <div class="text-center mb-4">
      <a href="/fix_code" class="btn btn-primary btn-sm"
         style="
           font-family: Arial, sans-serif;
           font-size: medium;
           background-color: #2db5d1;
           border-color: #2db5d1;
           border-radius: 25px;
           box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
           padding: 8px 20px; /* Adjusted padding */
           display: inline-block;
           text-align: center;
           transition: background-color 0.3s ease, transform 0.3s ease;
         "
         onmouseover="this.style.backgroundColor='#37c3e8'; this.style.transform='scale(1.05)';"
         onmouseout="this.style.backgroundColor='#2db5d1'; this.style.transform='scale(1)';"
         >
        New Code
      </a>
    </div>
  </div>
</div>

{% endblock %}